{
    "presets": [
        ["es2015", { "modules": false }],
        "stage-2"
    ],
    "ignore": ["node_modules/*"],
    "env": {
        "test": {
            "presets": ["env", "stage-2"]
        }
    }
}
