// COLORS

// MONO
$black: #000;
$white: #fff;

// GREY
$grey-50: #FAFAFA;
$grey-100: #F5F5F5;
$grey-200: #EEE;
$grey-300: #E0E0E0;
$grey-400: #BDBDBD;
$grey-500: #9E9E9E;
$grey-600: #757575;
$grey-700: #616161;
$grey-800: #424242;
$grey-900: #212121;
$grey: $grey-500;

// BLUEGREY
$bluegrey-50: #ECEFF1;
$bluegrey-100: #CFD8DC;
$bluegrey-200: #B0BEC5;
$bluegrey-300: #90A4AE;
$bluegrey-400: #78909C;
$bluegrey-500: #607D8B;
$bluegrey-600: #546E7A;
$bluegrey-700: #455A64;
$bluegrey-800: #37474F;
$bluegrey-900: #263238;
$bluegrey: $bluegrey-500;



$red: #f44336;
$yellow: #ffeb3b;
$green: #4caf50;
$blue: #4b7cf9;
